.card{
  background-color: #FFF;
  border-radius: 10px;
}

.card__image{
  width: 282px;
  height: 282px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__footer{
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.card__title{
  margin: 25px 15px 31px 21px;
  width: 246px;
  display: block;
  color: #000;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__pseudo{
  display: inline-block;
  vertical-align: middle;
  border: 0;
}

.card__like{
  position: absolute;
  right: 16px;
  width: 21px;
  height: 19px;
  overflow: hidden;
  clip: react(0 0 0 0);
  background-image: url(../images/like.png);
  border: 0;
  opacity: 0;
}

.card__like:checked + .card__pseudo_type_checkbox{
  margin: 30px 18px 30px 0;
  width: 21px;
  height: 19px;
  background-image: url(../images/like-selected.png);
  border: 0 solid #FFF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
  opacity: 1;
}

.card__pseudo_type_checkbox{
  margin: 30px 18px 30px 0;
  width: 21px;
  height: 19px;
  background-image: url(../images/like.png);
  border: 0 solid #FFF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
  opacity: 1;
}


.card__pseudo_type_checkbox:hover{
  margin: 30px 18px 30px 0;
  width: 21px;
  height: 19px;
  background-image: url(../images/like-hover.png);
  border: 0 solid #FFF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
  opacity: .6;
}